* Text 3
 */
#text3
{
    margin:           3.0em auto;
    overflow:         hidden;
    font:             normal normal normal 2.0em/1.5 'Open Sans Light', sans-serif;
    color:            #ffffff;
    background-color: #d81c82;
}


/**